  <% if recource.errors.any? %>
    <div>
      <h2><%= t('.header', count: recource.errors.count) %>:</h2>

      <ul class="message">
        <% recource.errors.full_messages.each do |message| %>
          <li class="message-alert"><%=  message %></li>
        <% end %>
      </ul>
    </div>
    
  <% end %>
