<h1>Editing Answer</h1>

<p><%= @answer.question.title %></p>

<%= render 'form', answer: @answer %>

<%= link_to t('.show'), admin_answer_path(@answer), class: 'btn btn-outline-dark' %> |
<%= link_to t('.back'), admin_question_path(@answer.question), class: 'btn btn-outline-dark' %>
