<table>
  <tr>
    <th><%= question.title %></th>
    <th><%= link_to "Show", admin_question_path(question), class: "btn btn-outline-info", method: :get %></th>
    <th><%= link_to 'Edit question', edit_admin_question_url(question), class: "btn btn-outline-warning", method: :get%></th>
  </tr>
</table>
