.message {
  border: 2px solid #d0d0d0;
  padding: 10px 15px;
  border-radius: 5px;
  width: 500px;
}
.message-notice {
  background-color: #ed05c6;
  border-color: #ffba08;
}
.message-alert {
  background-color: #ffd2d2;
  border-color: #d00000;
}
.message-success {
  background-color: #36f74a;
  border-color: red;
}
