<div id="push"></div>
<footer class="wrapper">
  <div class="three">
    <nav>
      <ul>
        <li>Создано помощью ресурса :<%= link_to "Thinknetica", 'https://thinknetica.com/' %></li>
        <li>Author: Dmitry, linked GitHub: ( <%= author %> , <%= repo %> )</li>    
        <p><%= current_year %></p>
      </ul>
    </nav>
  </div>
</footer>
