<div id="push"></div>
<footer class="wrapper">
  <div class="three">
    <nav>
      <ul>
        <li>Создано помощью ресурса :<%= link_to "Thinknetica", 'https://thinknetica.com/' %></li>
        <li>Author: Dmitry, linked GitHub: ( <%= link_to "author", 'https://github.com/Tobi1246' %> ,
                                             <%= link_to "repo", "https://github.com/Tobi1246/testguru" %> )</li>    
        <p><%= Time.current.year %></p>
      </ul>
    </nav>
  </div>
</footer>
