<div id="push"></div>
<footer class="wrapper">
  <div class="three">
    <nav>
      <ul>
        <li>Создано помощью ресурса :<a rel="nofollow" href="https://thinknetica.com/"target="_blank">Thinknetica<a></li>
        <li>Author: Dmitry, linked git:<a rel="nofollow" href="https://github.com/Tobi1246"target="_blank">GitHub<a></li>
        <p><%= Time.zone.now %></p>
      </ul>
    </nav>
  </div>
</footer>